/*
body {
    min-height: 3000px;
}
*/
.jumbotron {
    padding-top: 6rem;
    background-color: #94c1d9;
}
/* id menggunakan tanda pagar # */
#projects {
    background-color: #94c1d9;
}
section {
    padding-top: 5rem;
}